@font-face {
  font-family: "Cloister Black Light";
  font-style: normal;
  font-weight: normal;
  src: local("Cloister Black Light"), url("CloisterBlack.woff") format("woff");
}

h1 {
  font-family: "Cloister Black Light";
  background:rgb(0, 0, 0);
}
